---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
  {%- assign posts = site.posts -%}

  {%- if posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "最新文章" }}</h2>
    <ul class="post-list">
      {%- for post in posts limit:20 -%}
      <li>
        <a class="post-link-wrapper" href="{{ post.url | relative_url }}">
          <span class="post-date">{{ post.date | date: date_format }}</span>
          <span class="post-title">{{ post.title | escape }}</span>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    {%- if posts.size > 20 -%}
      <p class="more-posts"><a href="{{ '/archives' | relative_url }}">更多文章 →</a></p>
    {%- endif -%}
  {%- endif -%}

</div>
